body {
	background: #fff;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 15px 15px 0;
}

fieldset {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 30px 15px;
    padding: 15px 0;
	width: 498px;
}

form {
	margin: 0;
}

dt, dd, p {
	margin: 0;
	padding: 5px 15px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr, th, td {
	font-weight: normal;
	vertical-align: top;
}

#document table th, #document table td {
    padding: 5px 15px 5px 0;
}

th {
	text-align: left;
}

input, textarea {
	background: #fff;
	border: 1px solid #ccc;
	padding: 2px 6px;
}

input {
	width: 192px;
}

input.button {
	width: auto !important;
}

input.button {
	background-color: #ccc;
	border: 1px solid #666;
	clear: both;
}

textarea {
	height: 100px;
	width: 413px;
}

#result {
	background-color: #fcc;
	border: 1px solid #ccc;
    margin: 15px;
	padding: 15px 0;
	width: 498px;
}

#result.result1 {
	background-color: #cfc;
}

.separate {
	border-top: 1px dashed #ccc;
	margin-top: 15px;
	padding-top: 15px;
}